@font-face {
    font-family: FuzzyBubbgles-Bold;
    src: url('/assets//fonts/FuzzyBubbles-Bold.ttf');
}

@font-face {
    font-family: FuzzyBubbgles-Regular;
    src: url('/assets//fonts/FuzzyBubbles-Regular.ttf');
}

@keyframes nextPage {
    10% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.2;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes openPage {
    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    padding: 0px;
    min-height: 100%;
}

.container {
    background-color: #f2bcb8;
    width: 100%;
    height: 100%;
    display: flex;
}

.container-images {
    background-image: url('/assets/img/flores.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-book {
    width: 30%;
    height: 70%;
    background: white;
    position: absolute;
    top: 15%;
    left: 35%;
    border-radius: 20px;
    -webkit-box-shadow: -1px 0px 53px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 53px -22px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 53px -22px rgba(0,0,0,0.75);
    display: flex;
}

.page {
    width: 80%;
    height: 80%;
    padding: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.page-passed {
    animation-duration: 4s;
    animation-name: nextPage;
}

.page-none {
    display: none;
}

.title {
    text-align: center;
}

h1, h2, h3, h4, h5, p, div {
    font-family: FuzzyBubbgles-Bold;
}

.img-central {
    background-image: url('/assets/img/heart.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-bigger {
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    color: #f2bcb8;
    text-shadow: 0 0 2px black;
}

.open-page {
    animation-duration: 4s;
    animation-name: openPage;
}

@media (min-width: 320px) and (max-width: 1000px) {
    .container-book {
        width: 92%;
        height: 70%;
        background: white;
        position: absolute;
        top: 15%;
        left: 4%;
        border-radius: 20px;
        -webkit-box-shadow: -1px 0px 53px -22px rgb(0 0 0 / 75%);
        -moz-box-shadow: -1px 0px 53px -22px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 53px -22px rgb(0 0 0 / 75%);
        display: flex;
    }
} 